/* Basic CSS file for Sprout & Grow website */
{
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    margin: 10%;
}
  
header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 0;
    background-color: #ffffff;
}
  
.logo {
    width: 10%;
    height: auto;
}
  
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
  
nav ul li {
    margin: 0 15px;
}
  
nav ul li a {
    color: #2e2e2e;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-color: #0b503f;
    padding: 10px;
    text-align: center;
    color: white;
}
  
.hero h1 {
    font-size: 2.5rem;
}

.Image1 {
    padding: 5px;
    width: 10%;
    height: auto;
}
  
.intro {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #2e2e2e;
    color: white;
    text-align: center;
    padding: 5px;
}
/* Add specific styles for navigation, main content, images, etc. */


form button:hover {
  background-color: #054d3b;
}
